<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConn"
				connectionString="Server=DESKTOP-JFM8T9L;
			Database=karaoke;
			Trusted_Connection=True;
			TrustServerCertificate=True;
			Connect Timeout=5;"
				providerName="System.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>