<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConn"
				connectionString="Server=192.168.1.7,1433;
			Database=karaoke;
			User Id=sa;
			Password=MANa$E$9iV0s;
			TrustServerCertificate=True;
			Connect Timeout=5;"
				providerName="System.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>